# Mac
.DS_Store

# Windows
Thumbs.db

# libpng
libpng/
!libpng/Android.mk
!libpng/libpng_readme.txt

# Android Studio
build/
obj/
.idea/
.gradle/
local.properties
*.iml
*.lock
*.bin
*.so

# Xcode
*.xcuserdatad/
xcshareddata/

# Visual Studio
*.user
*.*sdf
*.suo
ARM/
Debug/
ipch/

# NetBeans
private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# 3DS Build Artifacts
*.elf
*.smdh
*.3dsx